<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proveedoresregistro_da">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetallesDeEnvio"></activity>
        <activity android:name=".EnviosProgramados" />
        <activity
            android:name=".AgregarEnvio"
            android:label="Agregar Envío" />
        <activity
            android:name=".AgregarTransportista"
            android:label="Agregar Transportista" />
        <activity
            android:name=".AgregarContenedor"
            android:label="Agregar Contenedor" />
        <activity
            android:name=".MainActivity"
            android:label="Inicio de Sesión" />
        <activity
            android:name=".AgregarCamion"
            android:label="Agregar Camión" />
        <activity
            android:name=".AgregarChofer"
            android:label="Agregar Chofer" />
        <activity
            android:name=".Menu"
            android:label="Menú principal" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>