<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proveedoresregistro_da">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DetallesContenedor"
            android:label="Detalles del Contenedor" />
        <activity
            android:name=".DetallesCamion"
            android:label="Detalles del Camión" />
        <activity
            android:name=".DetallesChofer"
            android:label="Detalles del Chofer" />
        <activity
            android:name=".DetallesTransportista"
            android:label="Detalles del Transportista" />
        <activity
            android:name=".ElementosRegistrados"
            android:label="Elementos Registrados"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".detalles_proveedor"
            android:label="Detalles Proveedor"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".Contact_info"
            android:label="Soporte"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".Terminos"
            android:label="" />
        <activity
            android:name=".DetallesDeEnvio"
            android:label="Detalles del Envío"
            android:parentActivityName=".EnviosProgramados" />
        <activity
            android:name=".EnviosProgramados"
            android:label="Envíos Programados"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".AgregarEnvio"
            android:label="Agregar Envío"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".AgregarTransportista"
            android:label="Agregar Transportista"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".AgregarContenedor"
            android:label="Agregar Contenedor"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".Login"
            android:label="Inicio de Sesión" />
        <activity
            android:name=".AgregarCamion"
            android:label="Agregar Camión"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".AgregarChofer"
            android:label="Agregar Chofer"
            android:parentActivityName=".Menu" />
        <activity
            android:name=".Menu"
            android:label="Menú principal" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>